<h2>Config</h2>
<form name="configForm">
  <label>Name:</label><input id="name" class="validade" type="text" ng-disable="!config.submited" ng-model="config.name" required>
  <button class="btn blue" ng-show="!config.submited" ng-click="config.submit(configForm)">Register</button>
</form>
<div ng-show="config.submited" class="progress">
    <div class="indeterminate blue"></div>
</div>
<h4 ng-show="config.error" class="red-text">Error!</h4>
<h4 ng-show="config.success" class="green-text">Success!</h4>